{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Scoreboard</h2>
    <div class="list-group">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Date</th>
                <th scope="col">Task</th>
                <th scope="col">Status</th>
                <th scope="col">Additional Info</th>
            </tr>
            </thead>
            <tbody>
            {% for solution in solutions %}
            <tr>
                <td>{{ solution.user.username }} </td>
                <td>{{ solution.submitted.isoformat() }} </td>
                <td>{{ solution.task.name }} </td>
                <td>{{ solution.status }} </td>
                <td>{{ solution.error or '' }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}